.razmak{
    letter-spacing: 8px;
}
.xd{
    height: 100%;
}
.z-index-1{
    z-index: 99999;
}
.z-index-2{
    z-index: 9999;
}
.zel{
    color: #14CEB6;
}
.gradijent{
    background: linear-gradient(to right, #14CEB6, #247DBE);
}
.velicina-fonta{
    font-size: 50px;
}
@media (max-width: 575.98px){
    .poz{
        top: 15%;
    }
}
@media only screen and (min-width: 576px){
    .poz{
        top: 15%;
    }
}
@media only screen and (min-width: 768px){
    .poz{
        top: 25%;
    }
    .clippy1{
       clip-path: polygon(0 0, 100% 0, 100% 39%, 0 100%);
    }
    .clippy2{
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    }
}
@media only screen and (min-width: 992px){

}
@media only screen and (min-width: 1200px){
    .kartica{
        width: 15rem;
    }
}
@media only screen and (min-width: 1800px){
    .kartica{
        width: 20rem;
    }
}